<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">

			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://www.lti.cs.cmu.edu/index.html">Language Technologies Institute</a></li>
				<li><a href="https://www.cmu.edu/">Carnegie Mellon University</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/about">About</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/recruitment">Recruitment</a></li>
			</ul>

	  </div>
	</div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs" crossorigin="anonymous"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
