<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
		<div style="margin-top: -25px;">
			<a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
				<img height="50" src="{{ site.url }}{{ site.baseurl }}/images/logopic/mlsp-logo.png"/>
			</a>
		</div>
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>

	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/team">Group</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/projects">Projects</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/teaching">Courses</a></li>
		<li><a href="https://github.com/cmu-mlsp">Code</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a></li>
	  </ul>
	</div>
	
  </div>
</div>
